/* Estilos CSS */

#modalContent img {
    display: block;
    margin: 0 auto; 
  }
  
  #modalContent h2,
  #modalContent p {
    text-align: center;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }